/* NAVBAR */
* {
    padding: 0;
    margin: 0;
}
body * {
    font-family: "Inter", sans-serif;
}
#uni-agendamento {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#36bff2, #2196f3);
    border-radius: 8px;
    box-shadow: none;
    text-transform: capitalize;
}
#uni-agendamento:hover {
    opacity: 0.8;
}
#uni-nav {
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(184, 183, 183, 0.01);
    border-bottom-width: thick;
    border-color: #dc0058;
    border-bottom-style: solid;
}

#uni-logo {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: 50px;
}

/* Título Noticias */

.uni-noticias {
    padding: 75px 0 75px 0;
    text-align: center;
    color: #222222;
    font-size: 50px;
}
.uni-light {
    padding: 5px;
    font-style: light;
    border-top: thick solid;
    border-color: #36bff2;
}
.uni-bold {
    padding: 5px;
    font-weight: 700;
    font-style: italic;
    border-bottom-width: thick;
    border-color: #dc0058;
    border-bottom-style: solid;
}

/* Notícias */
.uni-card {
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    font-size: 25px;
    padding: 0 0 10px 0;
}

#uni-ensino {
    padding: 10px;
    background-color: pink;
    color: white;
    margin-left: 10px;
    font-weight: 400;
}
#uni-infantil {
    color: pink;
    font-weight: 700;
}

.uni-card-f {
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    font-size: 25px;
    padding: 0 0 10px 0;
}
#uni-ensino-f {
    padding: 10px;
    background-color: #75c8de;
    color: white;
    margin-left: 10px;
    font-weight: 400;
}
#uni-fundamental {
    color: #75c8de;
    font-weight: 700;
}

.uni-card-m {
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    font-size: 25px;
    padding: 0 0 10px 0;
}

#uni-ensino-m {
    padding: 10px;
    background-color: #dc0058;
    color: white;
    margin-left: 10px;
    font-weight: 400;
}

#uni-medio {
    color: #dc0058;
    font-weight: 700;
}

.uni-card-v {
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    font-size: 25px;
    padding: 0 0 10px 0;
}
#uni-ensino-v {
    padding: 10px;
    background-color: #36bff2;
    color: white;
    margin-left: 10px;
    font-weight: 400;
}

#uni-vestibular {
    color: #36bff2;
    font-weight: 700;
}
/* Cards */

.container {    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-uni {
    width: 280px;
    height: 240px;
    background-color: #ffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-height: 100%;
    width: auto;
    height: 100%;
}

.card-footer {
    height: 170px;
    padding: 10px;
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    background-color: white;
}

.card-footer a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.card-uni:hover {
    transform: scale3d(1.1, 1.1, 1);
}
/* Rodapé */

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

footer {
    width: 100%;
    color: white;
}
.footer-botton {
    display: flex;
    text-align: center;
    padding: 70px 150px;
}

#botaofooter {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#36bff2, #2196f3);
    border-radius: 8px;
    box-shadow: none;
    text-transform: capitalize;
}

#modal {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #2196f3;
    border-radius: 8px;
    box-shadow: none;
    text-transform: capitalize;
}
#footer-content {
    background-color: #dc0058;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 50px;
}
#footer-contacts h1{
    margin-bottom: 12px;
}
#footer-social-links {
    display: flex;
    gap: 32px;
    margin-top: 24px;
}
#footer-social-links .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}
#footer-social-links .footer-link ion-icon {
    font-size: 22px;
}
#footer-social-links .footer-link:hover{
    opacity: 0.8;
}
#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
    background: #4267b3;
}
#whatsapp {
    background: #25d366
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-list .footer-link {
    color: white;
    transition: all 0.4s;
}
.footer-list .footer-link:hover {
    color: #2196f3;
}
#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#input-group {
    display: flex;
    align-items: center;
    background-color: rgb(255, 205, 213);
    border-radius: 4px;
}
#input-group input {
    all: unset;
    padding: 12px;
    width: 100%;
}
#input-group button{
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 0 20px;
    font-size: 18px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
}
#input-group button:hover {
    opacity: 0.8;
}
#footer-copyright {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 426px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    
}